* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0efe7; /* Cream */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image : url(Login-Background.jpg);
  background-size : 100% ;
  background-repeat : no-repeat;
background-position : center ;  
}

.container {
  max-width: 400px;
  padding: 20px;
  width : 400px;
}

.signup-form {
  background-color: #d6ccbe; /* Light Gold */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #95a39c; /* Green Grey */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5c796a; /* Lighter Green */
  color: #ffffff; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position : center-left ;
}

button:hover {
  background-color: #436955; /* Darker shade of Lighter Green */
  height : 40px;
   position : center ;
}
